<section 
		class="flex bg-black h-screen w-screen text-center relative overflow-hidden z-30 justify-center">
			<div class="z-30 relative h-full flex flex-col">
				<header class="">
					<h2 class="text-white pt-40 text-[40px] font-medium z-30">Disfrute de Tesla</h2>
					<p class="text-white text-sm">Programe una prueba de conducción hoy mismo</p>
				</header>
				<footer class="flex flex-grow flex-col justify-end pb-20">
					<div>
						<a class="border-[3px] text-sm rounded font-medium px-12 py-2 inline-block text-white hover:text-black transition-colors hover:bg-white"href="#">
							Prueba de conducción
						</a> 
					</div>
				</footer>
			</div>
			<div class="absolute top-0 bottom-0 h-full w-full">
				<video class="object-center object-cover h-full w-full z-10"autoplay muted loop src="home_video.webm"></video>
			</div>
	</section>